<a href="https://colab.research.google.com/github/hemanth1406/assignments/blob/master/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Enter a  number to display it's multiplication table.

In [ ]:
n=int(input("the table of number")) 
for i in range(1,11):
 print(n,'X',i, '=', n*i)

the table of number6
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
6 X 10 = 60

 Convert binary to decimal.

In [ ]:
binary=input ("the binary value is ") 
decimal=int(binary,2) 
print(" The decimal of {p} is{q}".format(p=binary, q=decimal))

the binary value is 10010
 The decimal of 10010 is18

Generate first n number of fibonacci. Take n from user.

In [ ]:
def fibonacci(n):
 return first
 
fibonacci(n) 
n=int(input()) 
first=0
second=1
i=1
while(i<=n):
  next=first+second
  first=second
  second=next
  i+=1
print("the number is",first)

Write a program to find gcd or hcf of two numbers.

In [ ]:
def gcd(a, b) :
 while(a!=b) :
  if a>b:
   a=a-b
   if(a%b==0 and b%a==0) :
    return a
  else:
     b=b-a
     if(a%b==0 and b%a==0) :
      return b
  
gcd(20, 15)

5

 Write a program that accepts a word from user and reverse it.

In [ ]:
n1=int(input ())

In [ ]:
word=input("word is ")
revword=word[-1::-1]
print("the reverse word is", revword)

word is sna
the reverse word is ans

 Python program to print the numi from 0 to 6 except 3 and 6.

In [ ]:
for i in range(6):
  if(i==3 or i==6):
   continue
  print(i,end='')

01245

 Write a python program to count the number of even and odd numbers from a series of numbers.

In [ ]:
for i in range(1,50, 2) :
  print("the odd numbers are:",i)
for i in range(0,50,2):
  print("the even numbers are", i)

the odd numbers are: 1
the odd numbers are: 3
the odd numbers are: 5
the odd numbers are: 7
the odd numbers are: 9
the odd numbers are: 11
the odd numbers are: 13
the odd numbers are: 15
the odd numbers are: 17
the odd numbers are: 19
the odd numbers are: 21
the odd numbers are: 23
the odd numbers are: 25
the odd numbers are: 27
the odd numbers are: 29
the odd numbers are: 31
the odd numbers are: 33
the odd numbers are: 35
the odd numbers are: 37
the odd numbers are: 39
the odd numbers are: 41
the odd numbers are: 43
the odd numbers are: 45
the odd numbers are: 47
the odd numbers are: 49
the even numbers are 0
the even numbers are 2
the even numbers are 4
the even numbers are 6
the even numbers are 8
the even numbers are 10
the even numbers are 12
the even numbers are 14
the even numbers are 16
the even numbers are 18
the even numbers are 20
the even numbers are 22
the even numbers are 24
the even numbers are 26
the even numbers are 28
the even numbers are 30
the even numbers are 32
the even numbers are 34
the even numbers are 36
the even numbers are 38
the even numbers are 40
the even numbers are 42
the even numbers are 44
the even numbers are 46
the even numbers are 48

 Take 10 integers from keyboard using loop and print their average value on the screen.print the pattern.

In [ ]:
n1=[25, 65,44,10,4,6,8,9,3,1]
sum=0
for n in n1:
  sum=sum+n
avg=sum/len(n1) 
print("average is", avg)

average is 17.5