<a href="https://colab.research.google.com/github/hemanth1406/assignments/blob/master/Assignment_11.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Write a python program to create a tuple

In [ ]:
tuple=(1, 2,3,4,56,7) 
print(tuple,type(tuple))

(1, 2, 3, 4, 56, 7) <class 'tuple'>

 Write a python program to create tuple with different datatypes.

In [ ]:
tuple=("Sandeep", 2,2.7,False) 
print(tuple)

('Sandeep', 2, 2.7, False)

Write a python program to convert tuple into string.

In [ ]:
tuple=("1","is ","a number ") 
str=''.join(tuple) 
print(str)

1is a number

Write a python program to slice a tuple.

tuple=(1, 2,9,6,5)
slice=tuple[3]
print(slice)

In [ ]:
tuple=(1, 2,36,6,5) 
Slice=tuple[3]
print(Slice)

6

 Write a python program to find length of tuple.

In [ ]:
tuple=(1, 4, 2,3) 
print(len(tuple))

4

Write python program to reverse a tuple.

In [ ]:
Tuple=(1, 2,3,4,5,6,7) 
New=Tuple[-1::-1]
print(New)

(7, 6, 5, 4, 3, 2, 1)

Write a python program to convert list to tuple.

In [ ]:
l1=[1,2,3,44,555,6]
print(l1)
t1=tuple(l1)
print(t1)